<!DOCTYPE html>
<html>
<head>
  <title>ConcertApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header> Welcome to the concert finding app </header>
<body>

<%= yield %>

</body>
<footer> Copyright Josh Alexy 2015</footer>
</html>
